*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --------------------------------------------- */
/* article card display setup  */

.ul__articles {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
}

@media (min-width: 650px) {
  .ul__articles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 39.15em;
    margin: auto;
  }
  /* .section__searchOptions {
    height: 9em;
    position: relative;
  } */
}

@media (min-width: 1000px) {
  .ul__articles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 59.15em;
    margin: 0 auto;
  }
}

.container__pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.p__next {
  background-color: var(--clr-light-blue);
  padding: 0.15em 0.15em 0.25em 0.25em;
  width: 3.15em;
  margin: 1.5em 0.25em;
  line-height: 1.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p__previous {
  background-color: var(--clr-light-blue);
  padding: 0.15em 0.15em 0.25em 0.25em;
  width: 5.65em;
  margin: 1.5em 0.25em;
  line-height: 1.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
