*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card__articleContainer {
  height: 25em;
  width: 19em;
  border: 3px solid var(--clr-dark);
  margin: 0;
  position: relative;
  list-style: none;
}

.link__articleTitle {
  text-decoration: none;
  color: var(--clr-dark);
}

.h2__articleTitle {
  text-transform: uppercase;
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
  letter-spacing: var(--ls-3);
  padding: 0.1em 0.3em 0 0.3em;
}

.h2__articleTitle:hover {
  text-decoration: underline;
}

.h3__articleAuthor {
  text-transform: lowercase;
  font-size: var(--fs-200);
  font-weight: var(--fw-200);
  letter-spacing: var(--ls-3);
  line-height: 1;
  padding: 0.4em 0.4em;
}

.h4__articleDate {
  text-transform: uppercase;
  font-size: var(--fs-200);
  font-weight: var(--fw-600);
  letter-spacing: var(--ls-1);
  line-height: 0.7;
  padding: 0.4em 0.4em;
}

.img__articleImg {
  -webkit-filter: grayscale(0.8);
  filter: grayscale(0.8);
  position: absolute;
  bottom: 2.1em;
  left: 0.3em;
  width: 18em;
  margin: 0;
  padding: 0;
  transition: filter 300ms;
}

.img__articleImg:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* --------------------------------------------- */
/* article info bar  */

.div__articleInfo {
  position: absolute;
  bottom: 0.4em;
  display: flex;
  flex-direction: row;
  gap: 0.4em;
  padding: 0em 0.3em;
}

.counter__articleVotes,
.link__commentCount,
.checkbox__articleBookmark,
.link__articleDelete {
  font-size: var(--fs-100);
}

/* --------------------------------------------- */
/* article vote count  */

.container__articleVotes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--clr-purple);
  max-height: 1.5em;
  max-width: 8em;
}

.container__articleVotes:hover {
  cursor: pointer;
}

.btn__downVote,
.btn__upVote {
  background-color: var(--clr-purple);
  border: none;
  height: 1em;
  width: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn__downVote:hover,
.btn__upVote:hover {
  cursor: pointer;
}

.svg__downVote,
.svg__upVote {
  height: 0.75em;
  width: 0.75em;
}

.svg__downVote:hover,
.svg__upVote:hover {
  height: 1em;
  width: 1em;
}

.counter__numberVote {
  font-size: var(--fs-200);
  font-weight: var(--fw-300);
  letter-spacing: var(--ls-1);
  margin: 0.1em;
  padding: 0 0 0 0.1em;
}

/* --------------------------------------------- */
/* article comment count  */

.link__commentCount {
  background-color: var(--clr-green);
  width: 5em;
  max-height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.svg__commentCount {
  height: 1.35em;
  width: 1.35em;
}

.p__commentCount {
  font-size: var(--fs-200);
  font-weight: var(--fw-300);
  letter-spacing: var(--ls-1);
}

/* --------------------------------------------- */
/* topic  */

.link__articleTopicTag {
  text-decoration: none;
  color: var(--clr-dark);
}

.link__topic {
  background-color: var(--clr-orange);
  max-height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0.45em 0 0.25em;
}

.svg__topicTag {
  height: 1.15em;
  width: 1.25em;
}

.h4__articleTopic {
  font-size: var(--fs-200);
  font-weight: var(--fw-200);
  letter-spacing: var(--ls-2);
  padding: 0 0 0.2em 0.2em;
}

.h4__articleTopic:hover {
  font-weight: var(--fw-300);
}

/* --------------------------------------------- */
/* error message  */

.p__errorMessage {
  border: none;
  background-color: var(--clr-red);
  font-size: var(--fs-200);
  font-weight: var(--fw-200);
  letter-spacing: var(--ls-1);
  line-height: 1.7;
  width: 9em;
  height: 1.75em;
  padding: 0 0.5em;
}
