*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --------------------------------------------- */
/* article filter and sort menu  */

.section__searchContainer {
  height: 5em;
  position: relative;
}

ul {
  list-style: none;
}

link {
  text-decoration: none;
  color: var(--clr-dark);
}

.nav__searchOptions {
  background-color: var(--clr-light-blue);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 2.4em;
  padding: 0.2em 0.4em 0 0.4em;
  /* width: 11em; */
  /* padding: 0.2em 0.2em 0.2em 0.4em; */
  position: absolute;
  top: 0.6em;
  right: 0.6em;
}

.h2__searchArticle {
  font-size: var(--fs-200);
  letter-spacing: var(--ls-3);
  font-weight: var(--fw-200);
  padding: 0 0 0.2em 0.5em;
}

.svg__searchArticle {
  height: 1.75em;
  width: 1.75em;
}

/* .nav__sortAndOrder {
  position: absolute;
  right: 0.7em;
  top: 3.5em;
  cursor: pointer;
  font-size: var(--fs-200);
  letter-spacing: var(--ls-3);
  padding: 0.4em 0.5em;
  background-color: var(--clr-light-blue);
  border: none;
} */

/* --------------------------------------------- */
/* article card display setup  */

.ul__articles {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
}

@media (min-width: 650px) {
  .ul__articles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 39.15em;
    margin: auto;
  }
  /* .section__searchOptions {
    height: 9em;
    position: relative;
  } */
}

@media (min-width: 1000px) {
  .ul__articles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 59.15em;
    margin: 0 auto;
  }
}
