.nav__searchOptions {
  position: relative;
  height: 9.75em;
}

.iconButton {
  border: none;
  position: absolute;
  top: 1em;
  right: 1em;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-light-blue);
}

.svg {
  width: 1.5em;
  height: 1.5em;
}

.dropdown {
  position: absolute;
  top: 1em;
  right: -1.75em;
  width: 6em;
  transform: translateX(-45%);
  background-color: var(--clr-light-blue);
  padding: 0.5em 0 0.5em 0.5em;
  overflow: hidden;
}

.link__topic {
  color: var(--clr-dark);
  text-decoration: none;
}

.li__topic {
  font-size: var(--fs-200);
  font-weight: var(--fw-300);
  padding: 0.25em;
  list-style: none;
}
