*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ulContainer__UserLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label__UserLogin {
  font-size: var(--fs-400);
  font-weight: var(--fw-500);
  letter-spacing: var(--ls-3);
  padding: 2em 1em 1em 1em;
}

.button__UserLogin {
  background-color: var(--clr-light-blue);
  font-size: var(--fs-200);
  font-weight: var(--fw-300);
  letter-spacing: var(--ls-2);
  border: none;
  padding: 0.35em 0.75em;
  margin: 2em;
}
