*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.li__User {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

.image__UserAvatar {
  -webkit-filter: saturate(0.7);
  filter: saturate(0.7);
  height: 8em;
}

.h2__UserName {
  text-transform: uppercase;
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
  letter-spacing: var(--ls-3);
  padding: 1.5em 0;
}

.btn__UserLogin {
}
